

.movieImg {
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.insideMovieCard {
  margin-bottom: 30px;
 border: 2px solid rgb(57, 56, 56);
}

.movieReleased, .movieOverview {
  padding: 10px;
}

.movieOverview {
  border: 2px solid #283618;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px !important;
}

.movieReleased {
  margin-left: 35px;
}

.movieTitle {
  margin: 0 auto;
  font-weight: 800;
  font-size: 30px;
  color:#bc6c25;
}
