/* .mapCardContainer {
  margin: 5px;

} */

body {
  background-color: #023047;
  /* text-align: center; */
  font-weight:700;
  background-image: url("../public/images/background3.jpeg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: repeat-y;

    /* Set the background to be fixed so it won't scroll with the content */
    background-attachment: fixed;
  
}

li {
  list-style-type:circle;
}

.searchCityLabel {
  color:rgb(0, 0, 0);
  text-align: center;
}
.mapCard {
  background-color:#219ebc;
  margin: 0 auto;
  width: 60%;
  margin-top: 30px;
  /* border: 3px solid #023047; */
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.movieCard {
  background-color:#219ebc;
  margin: 0 auto;
  width: 60%;
  margin-top: 30px;
  border: 3px solid #023047;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.cityExplorerLabel {
  padding: 10px;
  color:#023047;
  background-color: #219ebc;
  font-size: 30px;
  color: #023047;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.cityExplorerForm {
  margin-left: 350px;

}
.cityExplorerH1 {
  width: 80%;
  color: rgb(7, 7, 7);
  margin: 15px;
  color:#bc6c25;
  display: flex;
  flex-direction: row;
}


.mapCardTitle {
  margin-bottom: 20px;
  font-size: 30px;
  margin: auto 0;
  color: #023047;
  font-weight:500;
  
}

.movieCardTitle {
  color:#023047;
  font-size: 25px;
  font-weight:500; 
}

.moviePhrase {
  color:#023047;
  font-weight:500;
  font-size: 20px;
}
iframe {
  margin: 0 auto;
  position: relative;
  display: block;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}


.exploreBtn {
  color: #023047;
  width: 15%;
  font-weight:400;
  border-radius: 8%;
  border-image: linear-gradient(to right, #3cb4e8, #316b8f, #3cb4e8, #000080) 1;
  border-image-slice: 1;
  font-size: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}


.exploreDiv {
  margin: auto 0;
  display: flex;
  flex-direction: row;
}
